:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --theme-color: rgba(13, 199, 165, 0.896);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: var(--md-dark-color);
  color: #fff;
}
a {
  text-decoration: none;
}
h2 {
  text-transform: uppercase;
  font-size: 40px;
}
#app-container {
  display: block;
  min-height: 100vh;
  padding: 0px 1rem;
}
.movie-container {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  position: relative;
  transition: transform 0.2s;
}
.movie-container::-webkit-scrollbar {
  width: 0;
}
.movie-container #poster {
  max-width: 300px;
  /* padding-left: 1rem; */
  transition: ease 0.2s;
}
#poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#poster:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* Logo */
.logo {
  padding: 1rem 0;
  border-bottom: 1px solid var(--dark-color);
}
.logo p {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
.logo p span {
  color: var(--theme-color);
}

/* Search */
#search-container {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-element {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.search-element h3 {
  align-self: center;
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.search-element .form-control {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  outline: none;
  color: var(--dark-color);
  width: 350px;
}

.search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
}

/* js related class */
.hide-search-list {
  display: none;
}
